*{
margin:0;
padding: 0;
font-family:'Poppins';
font-size: medium;
}
.background{
    position:absolute;
    top:0%;
    left:0%;
    height:100vh;
    width: 100%;
}
.navbar{
    background-color: white;
    position: absolute;
    height:10vh;
    width:100%;
    left:0%;
    top:0%;
}
.logo{
    position: absolute;
    top:12%;
    left:5%;
}
.user{
    position: absolute;
    top:10%;
    left:92%;
}
.addbutton{
    position: absolute;
    top:22%;
    left:85%;
}
.updatebutton{
    position: absolute;
    top: 22%;
    left: 75.4%;
}
.deletebutton{
    position: absolute;
    top: 23%;
    left: 72%;
}
.container{
    top: 20%;
    left:38% ;
    position: absolute;
    background-color: #FFFFFF;
    width: 53vh;
    height: 70vh;
    border-radius:2vh;
}
.back{
    position: absolute;
    top:5%;
    left:4%;
}
.dragdrop{
    position: absolute;
    top:15%;
    left:12%;
    border: 2px dashed #E0651D;
    height: 16vh;
    width: 38vh;

}
.choosefile{
    position: absolute;
    width: 100%;
    color: #F08622;
    top:66%;
    left: 6%;
    
    
}
.input{
 position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
.import{
    position: absolute;
    left:40%;
    top:15%;
}
.or{
    position: absolute;
    
    background-color:#FFFFFF ;
    width: 7vh;
    height: 7vh;
    top: 42%;
    left: 42%;
}
.ortext{
    position: absolute;
    top: 24%;
    left: 25%;
    color: #E0651D;
}
.line{
    position: absolute;
   height: 1vh;
   width:38vh;
   top: 47%;
   left: 13%;
}
.linee{
    border:1px solid #E0651D30;
}
.browsetext{
    position: absolute;
    top: 10%;
    left: 17%;
    color: #F08622;

}
.browse{
    position: absolute;
    height: 5vh;
    width: 21vh;
    top: 57%;
    left: 28%;
    border: 2px solid #F08622;
    border-radius:3px;
}
.upload{
    position: absolute;
    top: 74%;
    left: 12%;
    height:6vh;
    width:38vh;

}
.upldbutton{
width: 38vh;
height:6vh;
border: none;
background-color: #EBEBEB;
color: #8B8B8B;
border-radius: 5px;
}



/* login page css */

.emailcss{
    position: absolute;
    /* border-style:unset; */
    border-radius: 5px;
    background-color: white;
   /* */
    /* border-left: 1vh solid orangered; */
    width: 45vh;
    height: 8vh;
    top: 25%;
    left: 6%;
    /*  */
}
.Input{
    border-radius:5px ;
    position: absolute;
    width: 45vh;
    height: 8vh;
    border: white;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    outline: none;
    padding-left: 7px;
border-left:1vh solid #f08622 ;

}

.passwordcss{
    position: absolute;
    border-radius: 5px;
    background-color: white;
    width: 45vh;
    height: 8vh;
    top: 48%;
    left: 6%;

}
.InputPass{
    position: absolute;
    width: 45vh;
    height: 8vh;
    border: white;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    outline: none;
    padding-left: 7px;
    border-radius:5px ;
border-left:1vh solid #f08622 ;

}

   .slogo{
    position: absolute;
    left: 27%;
    top: 5%;
    }

    .ForgetPass{
        position: absolute;
        background-color: white;
        top: 63%;
        left: 56%;
        height: 7vh;
        width: 42%;
    }
    .Forgot{
        position: absolute;
        font-family:Arial, Helvetica, sans-serif;
        padding-top:1vh ;
        text-decoration: none;
    } 
    .LoginBtn{
        position: absolute;
        background-color: white(230, 11, 11);
        top: 79%;
        left: 8%;
        height: 8vh;
        width: 45vh;
    }  
    .button{
        position: absolute;
        width: 45vh;
        height: 7vh;
        color: white;
        outline: none;
        border: #f08622;
        background-color: #f08622;
        border-radius: 5px;
        box-shadow: 0px 0px 20px #00000014;

    }